*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	font-size: 62.5%;
	min-height: 100%;
}

body {
  min-height: 100%;
  line-height: 1.5;
	font-size: 2rem;
	background: linear-gradient(180deg, pink, white);
	font-family: 'Avenir';
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select,
a {
  font: inherit;
  color: inherit; 
  font: inherit; 
	letter-spacing: inherit;
	outline: none;
	text-decoration: none;
}

#container {
	margin: 6rem auto;
	border: 2px solid black;
	display: grid;
	grid-template: 78px 78px 78px repeat(2, 1fr) 78px 78px 78px / repeat(4, 1fr);
	min-height: 600px;
	width: 400px;
	border-radius: 120px;
	overflow: hidden;
	box-shadow: 0 4px 12px 2px black;
	animation: pop 2s ease-out;
}

.numbers {
	height: 100%;
	width: 100%;
	border: 1px rgba(0,0,0, 0.6) solid;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0 0 0px 5px rgba(0,0,0,0.3);
	font-family: 'Avenir';
	font-weight: bold;
	background: #3066BE;
}

.numbers:active, .operators:active {
	box-shadow: inset 0 0 0px 1000px rgba(0,0,0,0.3);
}

.active {
	box-shadow: inset 0 0 0px 1000px rgba(0,0,0,0.3);
}

#zero {
	grid-area: 2 span;
}
#one{
	border-top: none;
}
#two {
	border-top: none;
}
#three {
	grid-area: 2 span;
}
#eight {
	grid-area: 3 / 3 / 4 / 3 ;
}
#nine {
	grid-area: 3 / 4 / 4 / 5 ;
}
#equal {
	grid-area: 8 / 1 / 9 / 5;
	background-color:  #E4FDE1;
	border-bottom: none;
}
#clear {
	grid-column: 2 / 3;
	background: #E4FDE1;
}
#back {
	background: #E4FDE1;
}

#screen {
	grid-area: 4 / 1 / 6 / 5;
	padding: 1rem;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3.5rem;
	word-break: break-all;
	color:  #E4FDE1;
}

.operators {
	height: 100%;
	width: 100%;
	border: 1px rgba(0,0,0, 0.6) solid;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0 0 0px 5px rgba(0,0,0,0.3);
	font-family: 'Avenir';
	font-weight: bold;
	background-color: #F45B69;
	font-size: 2.2rem;
}

.signature {
	text-align:center;
	padding: 1rem;
	font-size: 1.5rem; 
	white-space: pre;
	opacity: 0.6;
}

@keyframes pop {
	0% {transform: scale(0.5);}
	80% {transform: scale(1.2);}
	100% {transform: scale(1);}
}

@media (max-width: 500px) {
	#container {
		margin: 2rem auto;
		min-height: 600px;
		width: 350px;
	}
}